<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ошибка</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"  />
</head>
<body>
<span class="neg">ОШИБКА</span>
<p>
    Во время выполнения операции произошла непредвиденная ошибка:<br />
    <p th:text="${Error_message}" />
</p>
<p>
    * Отправьте нам электронное письмо, чтобы уведомить об этом, и попробуйте позже.<br /><br />

    * Нажмите CTRL + ALT + DEL, чтобы перезагрузить компьютер.<br />
</p>
Нажмите любую ссылку, чтобы продолжить <blink>_</blink>
<div class="menu">
    <a href="/">index</a> |
    <a href="#" onclick="history.back()"> назад </a> |
</div>

</body>
</html>