<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация о заказе</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'Статус: ' + ${Order.status}" />
<p th:text="'Дата создания: ' + ${Order.creationDate}" />

Данные заказа:
<table border="1">
    <tr>
        <th>Идентификатор</th>
        <th>Количество</th>
        <th>Стоимость</th>
    </tr>
    <th:block th:each="Order_item : ${Order.itemsList}">
        <tr>
            <td th:text="${Order_item.tissueId}">Ткань</td>
            <td th:text="${Order_item.quantity}">Количество</td>
            <td th:text="${Order_item.totalPrice}">Цена</td>
        </tr>
    </th:block>
</table>

<a href="/tissues">Submit another tissue</a>
</body>
</html>
</body>
</html>