<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ткани на заказ</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous"/>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }




    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/pricing.css}"/>
</head>
<body>

<!---баннер--->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="/">#ВСЕТКАНИМИРА</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/about">О нас</a>
        <a class="p-2 text-dark" href="/catalog">Каталог</a>
        <a class="p-2 text-dark" href="/order">Корзина</a>
    </nav>
    <a class="btn btn-outline-primary" href="/login">Войти</a>
</div>
<!---баннер-->
    <div class="container">
        <h1>Ваш заказ отправлен!</h1>
        <div>
            <label><b>Идентификатор: </b></label>
            <span th:text="${Order.id} ?: ''">...</span>
        </div>
        <div>
            <label><b>Статус: </b></label>
            <span th:text="${Order.status} ?: ''">...</span>
        </div>
        <div>
            <label><b>Клиент: </b></label>
            <span th:text="${Order.clientName} ?: ''">...</span> <span
                th:text="${Order.clientLastName} ?: ''">...</span> <br/>
            <label><b>Телефон: </b></label>
            <span th:text="${Order.phoneNumber} ?: ''">...</span><br/>
            <label><b>Адрес: </b></label>
            <span th:text="${Order.address} ?: ''">...</span>
        </div>
        <div>
            <label><b>Дата создания: </b></label>
            <span th:text="${Order.creationDate} ? ${#dates.format(new java.util.Date(Order.creationDate))} : ''">...</span>
        </div>
        <div>
            <label><b>Дата отправки: </b></label>
            <span th:text="${Order.sendDate} ? ${#dates.format(new java.util.Date(Order.sendDate))} : ''">...</span>
        </div>
        <div>
            <label><b>Дата получения: </b></label>
            <span th:text="${Order.receivedDate} ? ${#dates.format(new java.util.Date(Order.receivedDate))} : ''">...</span>
        </div>
        <p>
            Данные заказа:
        </p>

        <table id="order_items" class="table">
            <tr>
                <th>Артикул</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Стоимость</th>
            </tr>
            <th:block th:each="Order_item : ${Order.itemsList}">
                <tr>
                    <td th:text="${Order_item.tissueId}">Артикул</td>
                    <td th:text="${Order_item.name}">Наименование</td>
                    <td th:text="${Order_item.quantity}">Количество</td>
                    <td th:text="${Order_item.price}">Цена</td>
                    <td th:text="${Order_item.totalPrice}">Стоимость</td>
                </tr>
            </th:block>
        </table>
    </div>


<br/>
<br/>
<br/>

</body>
</html>