<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'name: ' + ${tissue.name}" />
<p th:text="'price: ' + ${tissue.price}" />
<p th:text="'quantity: ' + ${tissue.quantity}" />

<a href="/tissues">Submit another tissue</a>
</body>
</html>
</body>
</html>