<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1">
    <tr>
        <th>Идентификатор</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Желаемое количество</th>
        <th>Добавить в корзину</th>
    </tr>
    <th:block th:each="tissue_element : ${tissues_list}">
        <tr>
            <td th:text="${tissue_element.id}">Идентификатор</td>
            <td th:text="${tissue_element.name}">Наименование</td>
            <td th:text="${tissue_element.price}">Цена</td>
            <td ><input th:id="'quantity_' + ${tissue_element.id}" type="number" step="0.01" min="0.0"/></td>
            <td button th:onclick="'javascript:addItemToChart(' + ${tissue_element.id} +');'">Добавить</td>
        </tr>
    </th:block>
</table>
<br>
<form action="#"  th:action="@{/tissues/new}" th:object="${tissue}" method="post">
    <table>
        <tr>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Количество</td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            <td><input type="text" th:field="*{price}" /></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{name}">Price Error</td>

        </tr>
        <tr>
            <td><input type="submit" value="Submit" /> </td>
            <td><input type="reset" value="Reset" /></td>
        </tr>
    </table>
</form>
<!--loading js-->

<script type = "application/javascript" th:src="@{/js/main.js}" crossorigin="anonymous"></script>
</body>
</html>